#about {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem;
}

.about__text {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.about__text h1 {
color: var(--dark-color);
}

.about__text p {
    color: var(--light-grey-color);
    max-width: 70%;
}

#about img {
    height: 12rem;
    width: 10rem;
    border: solid var(--light-grey-color);
    border-radius: 5rem;
}