* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ccdad1;
    --dark-color: #38302e;
    --light-grey-color: #6f6866;
    --white-color: #eeeeee;
  }

  body {
    background-color: var(--primary-color);
    min-width: fit-content;
    height: 100vh;
  }